body{
    font-family: "Open Sans", "Noto Sans Thai";
}
.biggest{
    display: flex;
    padding: 30px 50px;
}
.bigger{
    display: grid;
    grid-template-columns: 25% 70%;
    width: 100%;
    height: 90vh;
}
.big{
    display: grid;
    grid-template-rows: 150px auto;
    align-items: start;
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.logo span{
    font-size: 30px;
    font-weight: bold;
}
.list-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}
.list-menu button{
    background-color: white;
    width: 250px;
    height: 50px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-align: start;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 15px;
}
.list-menu button.active{
    background-color: #0099FF;
    color: white;
}
.content{
    width: 100%;
    height: 90%;
    margin-top: 0;
}
iframe {
    width: 100%;
    height: 100%;
    margin-top: 7%;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #F6F6F6;
    display: none;
}
.btn-logout{
    color: red;
}
.menu-toggle {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: #0099FF;
    color: white;
    border: none;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1500px) {
    .bigger{
        grid-template-columns: 40% 60%;
    }
}
@media (max-width: 1100px) {
    .logo {
        position: absolute;
        flex-direction: row-reverse;
        right: 10px;
        top: 10px;
    }
    .bigger {
        grid-template-columns: 100%;
        grid-template-rows: 10% 80%;
    }
    .menu-toggle {
        display: block;
    }
    .list-menu {
        position: fixed;
        top: 0;
        left: -300px;
        width: 250px;
        height: 100%;
        background: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        padding-top: 60px;
        z-index: 1000;
    }
    .list-menu.open {
        left: 0;
    }
}
@media (max-width: 768px) {
    .bigger {
        grid-template-rows: 20% 80%;
    }
}
@media (max-width: 500px) {
    .logo span {
        display: none;
    }
}