body{
    font-family: "Open Sans", "Noto Sans Thai";
}
.biggest{
    display: flex;
    padding: 30px 50px;
}
.bigger{
    display: grid;
    grid-template-columns: 25% 70%;
    width: 100%;
    height: 90vh;
}
.big{
    display: grid;
    grid-template-rows: 150px 400px;
    align-items: start;
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.logo span{
    font-size: 30px;
    font-weight: bold;
}
.list-menu{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
}
.list-menu button{
    background-color: white;
    width: 250px;
    height: 50px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-align: start;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 15px;
}
.list-menu button.active{
    background-color: #0099FF;
    color: white;
}
.content{
    width: 100%;
    height: 90%;
}
iframe {
    width: 100%;
    height: 100%;
    margin-top: 7%;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #F6F6F6;
    display: none;
}