body{
    background-color: #C4C4C4;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Open Sans", "Noto Sans Thai";
}
.head{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #27292C;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 0;
}
.head img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.head p{
    color: white;
    font-size: 30px;
    margin-bottom: 0;
}
.box-bigger{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 5%;
}
.box-login{
    display: flexbox;
    width: 450px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-top: 0;
}
.top img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -40px;
}
.top p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 10px;
}
.middle input{
    width: 85%;
    height: 25px;
    border-radius: 7px;
    border: 0.5px solid black;
    padding: 5px 10px;
    margin-bottom: 0
}
.middle p{
    text-align: left;
    width: 90%;
}
.remember{
    display: flex;
    justify-content: flex-end;
    padding-left: 6%;
    padding-right: 6%;
    margin: 5px 0;
}
.forgot{
    color: #0075cf;
}
.forgot a{
    text-decoration: none;
}
.btn-login{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.btn-login button{
    width: 35%;
    height: 5vh;
    font-size: 18px;
    color: white;
    background-color: #27292C;
}
hr{
    width: 90%;
}
.last{
    display: flex;
    justify-content: center;
}
.last a{
    text-decoration: none;
}
.last p{
    width: 70%;
    color: #4A4A4A;
    font-size: 13px;
    margin: 5px auto;
}
.btn-last {
    display: flex;
    height: 3em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    font-size: 15px;
    color: #4A4A4A;
    background-color: white;
}
.btn-last img{
    width: 20px;
    height: 20px;
}
.btn-last > img {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}
.btn-last:hover > img {
    font-size: 1.2em;
    transform: translateX(-5px);
}
.btn-last:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}

.loader {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.heading{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.loading {
    display: flex;
    width: 5em;
    align-items: center;
    justify-content: center;
}

.load {
    width: 23px;
    height: 3px;
    background-color: limegreen;
    animation: 1s move_5011 infinite;
    border-radius: 5px;
    margin: 0.1em;
}

.load:nth-child(1) {
    animation-delay: 0.2s;
}

.load:nth-child(2) {
    animation-delay: 0.4s;
}

.load:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes move_5011 {
    0% {
        width: 0.2em;
    }

    25% {
        width: 0.7em;
    }

    50% {
        width: 1.5em;
    }

    100% {
        width: 0.2em;
    }
}

@media screen and (max-width: 1024px) {
    .box-bigger{
        margin-top: 15%;
    }
}

@media screen and (max-width: 600px) {
    .box-bigger{
        margin-top: 20%;
    }
}
@media screen and (max-width: 375px) {
    body{
        overflow-y: auto;
    }
    .box-bigger{
        margin-top: 70%;
    }
}