body{
    padding: 20px 20px;
    font-family: "Open Sans", "Noto Sans Thai";
}
.img-logo{
    display: flex;
    justify-content: center;
}
.img-logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.info-detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.info-detail p{
    font-size: 25px;
    font-weight: 500;
}
.regis-detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.regis input{
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 5px 5px;
    font-size: 20px;
    background-color: #F6F6F6;
}
.regis p{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}
.regis-detail p{
    font-size: 25px;
    font-weight: 500;
}
hr{
    height: 5px;
    background-color: black;
    border: none;
    margin-top: 0;
}
.button-create{
    display: flex;
    justify-content: end;
    margin-top: 50px;
}
.button-create button{
    width: 150px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #0099FF;
}
.text-input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: #F6F6F6;
    height: 30px;
    font-size: 20px;
    width: 80%;
    padding: 5px 5px;
}
.room-number{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: #F6F6F6;
    height: 30px;
    font-size: 20px;
    width: 20%;
    padding: 5px 5px;
}
#otherText{
    display: none;
}
.txt-head{
    font-size: 40px;
    margin-bottom: 0;
}
.IDCard p{
    font-size: 25px;
}
.IDCard select{
    height: 40px;
    font-size: 18px;
    width: 35%;
    padding: 5px 5px;
    border-bottom: 1px solid black;
}
.num-room p{
    margin-bottom: 5px;
}
.info-detail p{
    margin-bottom: 5px;
}
.regis-detail p{
    margin-bottom: 5px;
}
.gender input{
    margin-top: 20px;
}
@media screen and (max-width: 768px){
    .info-detail{
        grid-template-columns: repeat(2, 1fr);
    }
    .regis-detail{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 480px){
    .info-detail{
        grid-template-columns: repeat(1, 1fr);
    }
    .regis-detail{
        grid-template-columns: repeat(1, 1fr);
    }
    .IDCard select{
        width: 70%;
    }
}