<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Life Condo</title>
    <link rel="stylesheet" href="../static/css/admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
</head>
<body style="display: none;">
    <div class="biggest">
        <div class="bigger">
            <div class="big">
                <button class="menu-toggle" onclick="toggleMenu()">☰</button>
                <div class="logo">
                    <img src="../static/img/logo_condo.png">
                    <span>Neo Life Condo</span>
                </div>
                <div class="list-menu">
                    <button onclick="changePage('admin/user-info', event)">ข้อมูลผู้เช่า</button>
                    <button onclick="changePage('admin/services', event)">บริการเสริม</button>
                    <button onclick="changePage('admin/news', event)">แจ้งข่าวสาร</button>
                    <button onclick="changePage('admin/report', event)">แจ้งของชำรุด</button>
                    <button onclick="changePage('admin/contact', event)">ติดต่อพนักงาน</button>
                    <button onclick="changePage('admin/register', event)">สมัครบัญชีลูกบ้าน</button>
                    <button onclick="changePage('admin/send-bill', event)">ส่งบิลค่าคอนโด</button>
                    <button onclick="changePage('admin/payment', event)">ยืนยันการชำระค่าคอนโด</button>
                    <form action="/logout" method="post">
                        <button type="submit" class="btn-logout">Logout</button>
                    </form>
                </div>
            </div>
            <div class="content">
                <iframe id="contentFrame" src="about:blank"></iframe>
            </div>
        </div>
    </div>
    <script src="/static/javascript/refreshtoken-admin.js"></script>
    <script>
        function toggleMenu() {
            document.querySelector(".list-menu").classList.toggle("open");
        }

        function changePage(page, event) {
            var iframe = document.getElementById("contentFrame");
            iframe.src = page;
            iframe.style.display = "block";
            document.querySelectorAll(".list-menu button").forEach(btn => btn.classList.remove("active"));
            event.target.classList.add("active");

            if (window.innerWidth <= 1100) {
                document.querySelector(".list-menu").classList.remove("open");
            }
        }

        window.onload = function() {
        changePage('admin/user-info');
    };
    </script>
</body>
</html>