<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Life Condo</title>
    <link rel="stylesheet" href="../static/css/admin.css">
</head>
<body style="display: none;">
    <div class="biggest">
        <div class="bigger">
            <div class="big">
                <div class="logo">
                    <img src="../static/img/logo_condo.png">
                    <span>Neo Life Condo</span>
                </div>
                <div class="list-menu">
                    <button onclick="changePage('user-info', event)">ข้อมูลผู้เช่า</button>
                    <button onclick="changePage('services', event)">บริการเสริม</button>
                    <button onclick="changePage('news', event)">แจ้งข่าวสาร</button>
                    <button onclick="changePage('report', event)">แจ้งของชำรุด</button>
                    <button onclick="changePage('contact', event)">ติดต่อพนักงาน</button>
                    <button onclick="changePage('register', event)">สมัครบัญชีลูกบ้าน</button>
                    <button onclick="changePage('payment', event)">ยืนยันการชำระค่าคอนโด</button>
                </div>
            </div>
            <div class="content">
                <iframe id="contentFrame" src="about:blank"></iframe>
            </div>
        </div>
    </div>
    <script src="../static/javascript/refreshtoken-admin.js"></script>
    <script>
        function changePage(page, event) {
            var iframe = document.getElementById("contentFrame");
            iframe.src = page;
            iframe.style.display = "block";
            document.querySelectorAll(".list-menu button").forEach(btn => btn.classList.remove("active"));
            event.target.classList.add("active");
        }

        window.onload = function() {
        changePage('user-info');
    };
    </script>
</body>
</html>