<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Life Condo</title>
    <link rel="stylesheet" href="../static/css/newboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-container">
            <div class="thelogo">
                <img class="logoimg" src="../static/img/logo.png">
                <div class="logo">NEO LIFE CONDO</div>
            </div>
            <div class="link">
                <div class="thelink">
                    <a href="javascript:void(0)" onclick="openPopup('popupcon')" class="btn-nav">บริการเสริม</a>
                    <a href="javascript:void(0)" onclick="openPopup('popupser')" class="btn-nav">ติดต่อพนักงาน</a>
                </div>
                <div class="theprofile"><a href="/user/information"><img class="profile" src="../static/img/profile.jpg"></a></div>
            </div>
        </div>
    </nav>

    <button class="menu-btn" id="menu-button" onclick="toggleSidebar()">☰</button>

    <div class="sidebar" id="mySidebar">
        <a href="javascript:void(0)" onclick="openPopup('popupcon')">บริการเสริม</a>
        <a href="javascript:void(0)" onclick="openPopup('popupser')">ติดต่อพนักงาน</a>
    </div>

    <div class="container">
        <div class="news">
            <h2>ข่าวสาร</h2>
            <div class="news-flex">
                <% data.forEach((item)=>{ %>
                    <div class="news-item">
                        <img src="<%= item.pic %>">
                        <p><%= item.info %></p>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="facilities">
            <h2>จองใช้ส่วนกลาง</h2>
            <div class="facilities-grid">
                <div class="facilities-item" id="badminton">
                    <img src="../static/img/badminton_court-test.png">
                    <p>สนามแบดมินตัน</p>
                </div>
                <div class="facilities-item" id="meetingroom">
                    <img src="../static/img/meeting-room-test.jpeg">
                    <p>ห้องประชุม</p>
                </div>
                <div class="facilities-item" id="basketball">
                    <img src="../static/img/basketball court.png">
                    <p>สนามบาส</p>
                </div>
                <div class="facilities-item" id="theater">
                    <img src="../static/img/movie_room.png">
                    <p>ห้องดูหนัง</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup บริการเสริม -->
    <div id="popupcon" class="popup">
        <h2>ติดต่อใช้บริการเสริม</h2>
        <form class="myform" id="serviecForm" action="/user/service" method="post">
            <p>
                <label for="numroom">*ห้อง</label>
                <input type="text" id="numroom" name="numroom" required>
            </p>
            <p>
                <label for="servi">*บริการเสริม:</label>
                <select id="servi" name="service">
                    <option value="00">กรุณาเลือก</option>
                    <option value="01">ทำความสะอาด</option>
                    <option value="02">ซ่อมบำรุง</option>
                </select>
            </p>
            <p>
                <label for="date">*เลือกวันที่</label>
                <input type="date" id="date" name="date" required>
            </p>
            <p>
                <label for="time">*เลือกเวลา</label>
                <input type="time" id="time" name="time" required>
            </p>
            <p>
                <label for="note">*หมายเหตุ</label>
                <input type="text" id="note" name="note" required>
            </p>
            <p>
                <label for="file1">รูปภาพ (ไม่จำเป็นต้องใส่)</label>
                <input type="file" id="file1" name="file1" accept="image/*">
                <input type="text" id="filebase641" name="filebase641" value="none" hidden>
            </p>

            <button type="submit" onclick="sendData('popupcon')">ส่งข้อมูล</button>
            <button type="button" onclick="closePopup('popupcon')">ปิด</button>
        </form>
    </div>

    <!-- Popup ติดต่อพนักงาน -->
    <div id="popupser" class="popup">
        <h2>ติดต่อพนักงาน</h2>
        <form class="myform" action="/user/contactstaff" method="post">
            <p>
                <label for="numroom">*ห้อง</label>
                <input type="text" id="numroom" name="numroom" />
            </p>
            <p>
                <label for="cont">*สิ่งที่ต้องการติดต่อ</label>
                <select id="cont" name="cont">
                    <option value="00">กรุณาเลือก</option>
                    <option value="01">แจ้งข่าวสาร</option>
                    <option value="02">ติดต่อพนักงาน</option>
                    <option value="03">แจ้งของชำรุด</option>
                </select>
            </p>
            <p>
                <label for="title">*เรื่อง</label>
                <input type="text" id="title" name="title" />
            </p>
            <p>
                <label for="info">*หมายเหตุ</label>
                <input type="text" id="info" name="info" />
            </p>
            <p>
                <label for="date">*เลือกวันที่</label>
                <input type="date" id="date" name="date" required>
            </p>
            <p>
                <label for="time">*เลือกเวลา</label>
                <input type="time" id="time" name="time" required>
            </p>
            <p>
            <p>
                <label for="file2" id="pic">รูปภาพ (ไม่จำเป็นต้องใส่)</label>
                <input type="file" id="file2" name="file2" accept="image/*">
                <input type="text" id="filebase642" name="filebase642" value="none" hidden>
            </p>

            <button type="submit" onclick="sendData('popupser')">ส่งข้อมูล</button>
            <button type="button" onclick="closePopup('popupser')">ปิด</button>
        </form>
    </div>

    <script src="/static/javascript/refreshtoken.js"></script>
    <script>
        var check = true;
        function toggleSidebar() {
            const change_color = document.getElementById("menu-button");

            if(check === true){
                change_color.style.backgroundColor = "#333";
                check = false;
            }else {
                change_color.style.backgroundColor = "#27292C";
                check = true;
            }
            document.getElementById("mySidebar").classList.toggle("open-sidebar");
        }

        function openPopup(id) {
            document.getElementById(id).style.display = 'block';
        }

        function closePopup(id) {
            document.getElementById(id).style.display = 'none';
        }

        //เลื่อนข้างที่มีการเป็นจากเมาท์เป็นมือ
        document.addEventListener('DOMContentLoaded', () => {
            const newsFlex = document.querySelector('.news-flex');
            let isDown = false;
            let startX;
            let scrollLeft;

            newsFlex.addEventListener('mousedown', (e) => {
                isDown = true;
                newsFlex.classList.add('active');
                startX = e.pageX - newsFlex.offsetLeft;
                scrollLeft = newsFlex.scrollLeft;
            });

            newsFlex.addEventListener('mouseleave', () => {
                isDown = false;
                newsFlex.classList.remove('active');
            });

            newsFlex.addEventListener('mouseup', () => {
                isDown = false;
                newsFlex.classList.remove('active');
            });

            newsFlex.addEventListener('mousemove', (e) => {
                if (!isDown) return;
                e.preventDefault();
                const x = e.pageX - newsFlex.offsetLeft;
                const walk = (x - startX) * 2; // ความเร็วในการเลื่อน
                newsFlex.scrollLeft = scrollLeft - walk;
            });
        });

        document.getElementById("file1").addEventListener("change", async function () {
            const fileInput = this;
            const hiddenInput = document.getElementById("filebase641");
        
            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const base64String = await toBase64(file);
                hiddenInput.value = base64String;
            } else {
                hiddenInput.value = "";
            }
        });
        
        document.getElementById("file2").addEventListener("change", async function () {
            const fileInput = this;
            const hiddenInput = document.getElementById("filebase642");
        
            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const base64String = await toBase64(file);
                hiddenInput.value = base64String;
            } else {
                hiddenInput.value = "";
            }
        });

        // ฟังก์ชันแปลงไฟล์เป็น Base64
        function toBase64(file) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = () => resolve(reader.result);
                reader.onerror = error => reject(error);
            });
        }

        document.getElementById("cont").addEventListener("change", function () {
            var fileInput = document.getElementById("file2");
            const label = document.getElementById("pic");
            if (this.value === "01" || this.value === "03") {
                fileInput.required = true;
                label.innerText = "*รูปภาพ";
            } else {
                fileInput.required = false;
                label.innerText = "รูปภาพ (ไม่จำเป็นต้องใส่)";
            }
        });

        document.getElementById("meetingroom").addEventListener('click', () => {
                    window.location.href = `/user/reserve/meeting`;
        });
        document.getElementById("badminton").addEventListener('click', () => {
                    window.location.href = `/user/reserve/badminton`;
        });
        document.getElementById("basketball").addEventListener('click', () => {
                    window.location.href = `/user/reserve/basketball`;
        });
        document.getElementById("theater").addEventListener('click', () => {
                    window.location.href = `/user/reserve/theater`;
        });
    </script>
</body>

</html>