<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/news.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <button class="show">โชว์ข้อมูล</button>
    <button class="del">ลบข้อมูล</button>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>รายละเอียดข่าวสาร</th>
                <th>รูปภาพ</th>
                <th>วันที่</th>
                <th>เวลา</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((item)=>{ %>
            <tr>
                <td><input type="checkbox"></td>
                <td><%=item.new_name%></td>
                <td><a href="#" onclick="openModal(event, '<%=item.pic%>')">กดเพื่อดูรูป</a></td>
                <td><%=item.date%></td>
                <td><%=item.time%></td>
            </tr>
            <% }); %> 
            <div id="myModal" class="modal">
                <span class="close" onclick="closeModal()">&times;</span>
                <img class="modal-content" id="modalImage">
              </div>
        </tbody>
    </table>
    <script src="/static/javascript/refreshtoken-admin.js"></script>
    <script src="../static/javascript/checkbox.js"></script>
 <script>
        function openModal(event, imageData) {
          var modal = document.getElementById("myModal");
          var modalImg = document.getElementById("modalImage");
          
          // ตั้งค่าตำแหน่งของ modal ที่ตำแหน่งที่คลิก
          var mouseX = event.clientX;
          var mouseY = event.clientY;
          
          modal.style.display = "flex";
          modal.style.left = (mouseX - 310) + 'px'; // ตำแหน่งซ้าย - กว้าง modal (300px)
          modal.style.top = (mouseY) + 'px'; 
          
          modalImg.src = imageData;  // กำหนดให้ src ของภาพเป็น Base64 string
        }
      
        function closeModal() {
          var modal = document.getElementById("myModal");
          modal.style.display = "none";  // ปิด modal
        }
      </script>
      

</body>
<style>

/* Modal styles */
.modal {
  display: none; /* ซ่อน modal โดยเริ่มต้น */
  position: absolute; /* ใช้ position absolute เพื่อให้สามารถตั้งตำแหน่งได้ */
  z-index: 1; /* จัดอันดับความสำคัญของ modal ให้สูงสุด */
  width: 300px; /* ขนาดของ modal */
  height: 300px; /* ขนาดของ modal */
  background-color: rgba(0, 0, 0, 0.8); /* พื้นหลังโปร่งแสง */
  overflow: hidden; /* ซ่อนเนื้อหาที่เกินขอบเขต */
  border-radius: 10px; /* มุมโค้ง */
  
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal-content {
  width: 100%; /* ให้รูปเต็มขนาดของ modal */
  height: 100%;
  object-fit: contain; /* ให้รูปไม่เสียสัดส่วน */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}



</style>
</html>