<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/news.css">
</head>
<body>
    <button class="show">โชว์ข้อมูล</button>
    <button class="del">ลบข้อมูล</button>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>รายละเอียดข่าวสาร</th>
                <th>รูปภาพ</th>
                <th>วันที่</th>
                <th>เวลา</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((item)=>{ %>
            <tr>
                <td><input type="checkbox"></td>
                <td><%=item.new_name%></td>
                <td><%=item.pic%></td>
                <td><%=item.date%></td>
                <td><%=item.time%></td>
            </tr>
            <% }); %> 
        </tbody>
    </table>
    <script src="/static/javascript/refreshtoken-admin.js"></script>
    <script src="../static/javascript/checkbox.js"></script>
</body>
</html>