<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/popup-user-info.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="all">
        <div class="btn">
            <button onclick="window.parent.closePopup()" class="close-btn">×</button>
        </div>
        <h1 class="head-text">ห้อง 101</h1>
        <div>
            <h1 class="head-text">ข้อมูลส่วนตัว</h1>
            <div class="info-personal">
                <div>
                    <p class="topic">คำนำหน้า</p>
                    <p>นาย</p>
                </div>
                <div>
                    <p class="topic">ชื่อ</p>
                    <p>กิตติพิชญ์</p>
                </div>
                <div>
                    <p class="topic">นามสกุล</p>
                    <p>หิรัญวงศ์</p>
                </div>
                <div>
                    <p class="topic">ชื่อเล่น</p>
                    <p>พีท</p>
                </div>
                <div>
                    <p class="topic">อายุ</p>
                    <p>15</p>
                </div>
                <div>
                    <p class="topic">เพศ</p>
                    <p>ชาย</p>
                </div>
                <div>
                    <p class="topic">สัญชาติ</p>
                    <p>ไทย</p>
                </div>
                <div>
                    <p class="topic">เชื้อชาติ</p>
                    <p>ไทย</p>
                </div>
                <div>
                    <p class="topic">ศาสนา</p>
                    <p>พุทธ</p>
                </div>
                <div>
                    <p class="topic">วันเกิด</p>
                    <p>30/07/2004</p>
                </div>
                <div>
                    <p class="topic">เลขบัตรประชาชน</p>
                    <p>1-1055-00064-37-9</p>
                </div>
            </div>
        </div>
        <div>
            <h1 class="head-text">ข้อมูลติดต่อ</h1>
            <div class="info-address">
                <div>
                    <p class="topic">ที่อยู่</p>
                    <p>หอดีน่าเพลส 681 ซอยฉลองกรุง 1 แยก 6 ถนนฉลองกรุง แขวงลาดกระบัง เขตลาดกระบัง จังหวัดกรุงเทพ 10520</p>
                </div>
                <div>
                    <p class="topic">เบอร์โทรศัพท์</p>
                    <p>099-999-9999</p>
                </div>
                <div>
                    <p class="topic">Line ID</p>
                    <p>099-999-9999</p>
                </div>
                <div>
                    <p class="topic">E-mail</p>
                    <p>6607999@kmitl.ac.th</p>
                </div>
            </div>
        </div>
        <div>
            <h1 class="head-text">ข้อมูลงทะเบียน</h1>
            <div class="info-register">
                <div>
                    <p class="topic">Username</p>
                    <p>6607999@kmitl.ac.th</p>
                </div>
                <div>
                    <p class="topic">Password</p>
                    <p>6607999@kmitl.ac.th</p>
                </div>
            </div>
        </div>
        <div class="edit">
            <button class="btn-edit">แก้ไขข้อมูล</button>
        </div>
    </div>
    <script src="../static/javascript/checkbox.js"></script>
    <script src="/static/javascript/refreshtoken-admin.js"></script>
</body>
</html>