<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
</head>

<body>
    <div>
        <div class="img-logo">
            <img src="../static/img/logo_condo.png">
        </div>
        <div class="IDCard">
            <p><label>เลขบัตรประชาชน</label></p>
            <select id="cid">
                <!-- <option selected>เลือกเลขบัตรประชาชน</option>
                <option>1-1055-00064-37-9</option> -->
            </select>
        </div>
        <div class="num-room">
            <p style="font-size: 25px;">เลขห้อง</p>
            <input type="text" class="room-number">
        </div>
        <div>
            <h1 class="txt-head">ข้อมูลส่วนตัว</h1>
            <hr>
            <div class="info-detail">
                <div>
                    <p>คำนำหน้า</p>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <p>ชื่อ</p>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <p>นามสกุล</p>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <p>ชื่อเล่น</p>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <p>อายุ</p>
                    <input type="text" class="text-input">
                </div>
                <div class="gender">
                    <p>เพศ</p>
                    <input type="radio" name="gender" id="male">เพศชาย
                    <input type="radio" name="gender" id="female">เพศหญิง
                    <input type="radio" name="gender" id="other">อื่น ๆ
                    <input type="text" id="otherText" placeholder="โปรดระบุ" class="text-input">
                </div>
                <div>
                    <p>สัญชาติ</p>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <p>เชื้อชาติ</p>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <p>ศาสนา</p>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <p>วันเกิด</p>
                    <input type="date" class="text-input">
                </div>
                <div>
                    <p>เลขบัตรประชาชน</p>
                    <input type="text" class="text-input">
                </div>
            </div>
        </div>
        <div>
            <h1 class="txt-head">ข้อมูลติดต่อ</h1>
            <hr>
            <div>
                <div class="regis-detail">
                    <div>
                        <p>ที่อยู่</p>
                        <input type="text" class="text-input">
                    </div>
                    <div>
                        <p>หมู่ที่</p>
                        <input type="text" class="text-input">
                    </div>
                    <div>
                        <p>ซอย</p>
                        <input type="text" class="text-input">
                    </div>
                    <div>
                        <p>ถนน</p>
                        <input type="text" class="text-input">
                    </div>
                    <div>
                        <p>แขวง/ตำบล</p>
                        <input type="text" class="text-input">
                    </div>
                    <div>
                        <p>เขต/อำเภอ</p>
                        <input type="text" class="text-input">
                    </div>
                    <div>
                        <p>จังหวัด</p>
                        <input type="text" class="text-input">
                    </div>
                    <div>
                        <p>รหัสไปรณีย์</p>
                        <input type="text" class="text-input">
                    </div>
                    <div>
                        <p>เบอร์โทรศัพท์</p>
                        <input type="text" class="text-input">
                    </div>
                    <div>
                        <p>Line-ID</p>
                        <input type="text" class="text-input">
                    </div>
                    <div>
                        <p>Email</p>
                        <input type="text" class="text-input">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1 class="txt-head">ข้อมูลลงทะเบียน</h1>
            <hr>
            <div class="create">
                <div class="regis">
                    <p>Username</p>
                    <input type="text">
                </div>
                <div class="regis">
                    <p>Password</p>
                    <input type="password">
                </div>
                <div class="regis">
                    <p>Confirm Password</p>
                    <input type="password">
                </div>
            </div>
        </div>
        <div class="button-create">
            <button>สร้างบัญชี</button>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            const otherRadio = document.getElementById("other");
            const otherText = document.getElementById("otherText");
            const genderRadios = document.querySelectorAll("input[name='gender']");
            let cid = document.getElementById("cid");
            try {
                let response = await fetch(`/getcid`); 
                let data = await response.json();
                console.log(data);

                let cidchild = `<option selected>เลือกเลขบัตรประชาชน</option>`; // ตัวเลือกแรก

                for (let i = 0; i < data.length; i++) {
                    cidchild += `<option value="${data[i].id_number}">${data[i].id_number}</option>`;
                }

                cid.innerHTML = cidchild;

            } catch (error) {
                console.error("เกิดข้อผิดพลาด:", error);
            }



            document.getElementById("cid").addEventListener("change", async function () {
                let selectedValue = this.value;
                // let userInfoDiv = document.getElementById("userInfo");

                try {
                    let response = await fetch(`/getuser/${selectedValue}`);
                    let data = await response.json();

                    // อัปเดตข้อมูลใน HTML
                    //         userInfoDiv.innerHTML = `
                    //     <h3>ข้อมูลผู้ใช้</h3>
                    //     <p><strong>ชื่อ:</strong> ${data.name}</p>
                    //     <p><strong>อีเมล:</strong> ${data.email}</p>
                    //     <p><strong>ที่อยู่:</strong> ${data.address}</p>
                    // `;
                } catch (error) {
                    console.error("เกิดข้อผิดพลาด:", error);
                }
            });

            genderRadios.forEach(radio => {
                radio.addEventListener("change", function () {
                    if (otherRadio.checked) {
                        otherText.style.display = "inline-block";
                        otherText.focus();
                    } else {
                        otherText.style.display = "none";
                        otherText.value = "";
                    }
                });
            });
        });

    </script>
</body>

</html>