<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: none;">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut architecto expedita placeat ex, eaque natus doloribus, unde a libero impedit numquam? Eum mollitia quaerat sequi suscipit architecto iusto modi asperiores.
    <script src="/static/javascript/refreshtoken.js"></script>
</body>
</html>