<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/contacts.css">
    
</head>
<body>
    <div class="container">
        <h2>ติดต่อใช้บริการเสริม</h2>
        <form class="myform">
            <p>
                <label for="numroom">ห้อง</label>
                <input type="text" id="numroom" name="numroom" />
            </p>
            
            <p>
                <label for="servi">บริการเสริม</label>
                <select id="servi" name="servi">
                    <option value="00" selected>กรุณาเลือก</option>
                    <option value="01">ไทย</option>
                    <option value="02">เวียดนาม</option>
                    <option value="03">ลาว</option>
                    <option value="04">มาเลเซีย</option>
                    <option value="05">สิงคโปร์</option>
                    <option value="06">ฟิลิปปินส์</option>
                    <option value="07">เมียนมา</option>
                    <option value="08">กัมพูชา</option>
                    <option value="09">บรูไน</option>
                </select>
            </p>
            <p>
                <label for="date">เลือกวันที่</label>
                <input type="date" id="date" name="date" />
            </p>
            <p>
                <label for="time">เลือกเวลา</label>
                <input type="time" id="time" name="time" />
            </p>
            <p>
                <label for="note">หมายเหตุ</label>
                <input type="text" id="note" name="note" />
            </p>
            <button id="btn" type="button" onclick="senddata()">ส่งข้อมูล</button>
    
        </form>
    </div>
   
</body>
</html>