<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/website/static/css/employee.css">
</head>
<body>
    <button>เสร็จสิ้น</button>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>ห้อง</th>
                <th>เรื่องที่ต้องการจะติดต่อ</th>
                <th>วันที่</th>
                <th>เวลา</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>101</td>
                <td>สอบถามรายละเอียดต่าง ๆ</td>
                <td>29/03/2025</td>
                <td>สอบถามรายละเอียดต่าง ๆ</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>102</td>
                <td>ห้องข้าง ๆ ส่งเสียงดังตอนกลางคืนตลอดเวลาตั้งแต่เวลา 03:00 - 06:00 ตลอดระยะเวลา 1 เดือน</td>
                <td>101</td>
                <td>สอบถามรายละเอียดต่าง ๆ</td>
            </tr>
        </tbody>
    </table>
    <script src="/website/static/javascript/checkbox.js"></script>
</body>