<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Life Condo</title>
    <link rel="stylesheet" href="/website/static/css/forgot-password.css">
</head>
<body>
    <div class="head">
        <img src="/website/static/img/logo_condo.png">
        <p>Neo Life Condo</p>
    </div>
    <div class="box-contain">
        <div class="top">
            <img src="/website/static/img/logo_condo.png">
            <p>Forgot Password?</p>
        </div>
        <div class="info">
            <div class="box-detail">
                <p>ชื่อ</p>
                <input type="text">
            </div>
            <div class="box-detail">
                <p>นามสกุล</p>
                <input type="text">
            </div>
            <div class="box-detail">
                <p>เลขบัตรประชาชน</p>
                <input type="text">
            </div>
        </div>
        <div class="bottom">
            <a class="btn-a" href="/website/templates/forgot-password-2.html"><button>ต่อไป</button></a>
            <div class="return">
                <a class="re" href="/website/templates/login.html">
                    <img src="/website/static/img/arrow.png">
                    <p>ย้อนกลับไปหน้า Login</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>