<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Life Condo</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <form id="loginform">
        <div class="head">
            <img src="/static/img/logo_condo.png">
            <p>Neo Life Condo</p>
        </div>
        <div class="box-bigger">
            <div class="box-login">
                <div class="top">
                    <img src="/static/img/logo_condo.png">
                    <p>LOGIN</p>
                </div>
                <div class="middle">
                    <p>Username</p>
                    <input type="text" id="username">
                    <p>Password</p>
                    <input type="password" id="password">
                </div>
                <div class="remember">
                    <div class="forgot">
                        <a href="/forgot-password"><label>ลืมรหัสผ่าน?</label></a>
                    </div>
                </div>
                <div class="btn-login">
                    <button type="submit">เข้าสู่ระบบ</button>
                </div>
                <hr>
                <div class="last">
                    <a href="/"><button type="button" class="btn-last">
                        <img src="/static/img/arrow.png">
                        <span>Back to HomePage</span>
                    </button></a>
                </div>
            </div>
        </div>
    </form>

    <div class="loader" id="downloadLoader">
        <p class="heading">Loading</p>
        <div class="loading">
            <div class="load"></div>
            <div class="load"></div>
            <div class="load"></div>
            <div class="load"></div>
        </div>
    </div>

    <script>
        document.getElementById("loginform").addEventListener("submit", async function (event) {
            event.preventDefault();

            document.querySelector('.loader').style.display = 'flex';

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            try {
                const response = await fetch("http://localhost:3000/login", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ username, password }),
                    credentials: "include" // เพื่อให้ browser ส่ง cookies ไปด้วย
                });

                if (!response.ok) throw new Error("Login Failed");

                const data = await response.json();
                localStorage.setItem("accessToken", data.accessToken);

                document.querySelector('.loader').style.display = 'none';
                document.getElementById('downloadLoader').style.display = 'flex';

                setTimeout(() => {
                    window.location.href = "http://localhost:3000/user/room";
                }, 10000);

                window.location.href = "http://localhost:3000/user/room";
            } catch (error) {
                console.error("Error:", error);
                alert("Invalid Username or Password");
                document.querySelector('.loader').style.display = 'none';
            }
        });
    </script>
</body>

</html>