<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Life Condo</title>
    <link rel="stylesheet" href="/website/static/css/login.css">
</head>
<body>
    <div class="head">
        <img src="/website/static/img/logo_condo.png">
        <p>Neo Life Condo</p>
    </div>
    <div class="box-bigger">
        <div class="box-login">
            <div class="top">
                <img src="/website/static/img/logo_condo.png">
                <p>LOGIN</p>
            </div>
            <div class="middle">
                <p>Username</p>
                <input type="text">
                <p>Password</p>
                <input type="password">
            </div>
            <div class="remember">
                <input type="checkbox">
                <label>จดจำการเข้าสู่ระบบ</label>
            </div>
            <div class="btn-login">
                <button>เข้าสู่ระบบ</button>
            </div>
            <hr>
            <div class="last">
                <p>ข้าพเจ้ายอมรับใน เงื่อนไขและข้อตกลงการใช้บริการ และ นโยบายความเป็นส่วนตัว รวมไปถึงการเก็บรวบรวม, การนำไปใช้ และ การเปิดเผยข้อมูลส่วนบุคคลของข้าพเจ้า</p>
            </div>
        </div>
    </div>
</body>
</html>