<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .info-personal{

        }
        .info-address{

        }
        .info-register{
            
        }
    </style>
</head>
<body>
    <button onclick="window.parent.closePopup()">X</button>
    <p>ห้อง 101</p>
    <div>
        <h1>ข้อมูลส่วนตัว</h1>
        <div class="info-personal">
            <div>
                <p>คำนำหน้า</p>
                <p>นาย</p>
            </div>
            <div>
                <p>ชื่อ</p>
                <p>กิตติพิชญ์</p>
            </div>
            <div>
                <p>นามสกุล</p>
                <p>หิรัญวงศ์</p>
            </div>
            <div>
                <p>ชื่อเล่น</p>
                <p>พีท</p>
            </div>
            <div>
                <p>อายุ</p>
                <p>15</p>
            </div>
            <div>
                <p>เพศ</p>
                <p>ชาย</p>
            </div>
            <div>
                <p>สัญชาติ</p>
                <p>ไทย</p>
            </div>
            <div>
                <p>เชื้อชาติ</p>
                <p>ไทย</p>
            </div>
            <div>
                <p>ศาสนา</p>
                <p>พุทธ</p>
            </div>
            <div>
                <p>วันเกิด</p>
                <p>30/07/2004</p>
            </div>
            <div>
                <p>เลขบัตรประชาชน</p>
                <p>1-1055-00064-37-9</p>
            </div>
        </div>
    </div>
    <div>
        <h1>ข้อมูลสติดต่อ</h1>
        <div class="info-address">
            <div>
                <p>ที่อยู่</p>
                <p>หอดีน่าเพลส 681 ซอยฉลองกรุง 1 แยก 6 ถนนฉลองกรุง แขวงลาดกระบัง เขตลาดกระบัง จังหวัดกรุงเทพ 10520</p>
            </div>
            <div>
                <p>เบอร์โทรศัพท์</p>
                <p>099-999-9999</p>
            </div>
            <div>
                <p>Line ID</p>
                <p>099-999-9999</p>
            </div>
            <div>
                <p>E-mail</p>
                <p>6607999@kmitl.ac.th</p>
            </div>
        </div>
    </div>
    <div>
        <h1>ข้อมูลงทะเบียน</h1>
        <div class="info-register">
            <div>
                <p>Username</p>
                <p>6607999@kmitl.ac.th</p>
            </div>
            <div>
                <p>Password</p>
                <p>6607999@kmitl.ac.th</p>
            </div>
        </div>
    </div>
    <button>แก้ไขข้อมูล</button>
    <script src="/website/static/javascript/checkbox.js"></script>
</body>
</html>