<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <div>
            <img src="/website/static/img/logo_condo.png">
        </div>
        <div>
            <p>เลขห้อง</p>
            <input type="text">
        </div>
        <div>
            <h1>ข้อมูลส่วนตัว</h1>
            <hr>
            <div>
                <div>
                    <p>คำนำหน้า</p>
                    <input type="text">
                </div>
                <div>
                    <p>ชื่อ</p>
                    <input type="text">
                </div>
                <div>
                    <p>นามสกุล</p>
                    <input type="text">
                </div>
                <div>
                    <p>ชื่อเล่น</p>
                    <input type="text">
                </div>
                <div>
                    <p>อายุ</p>
                    <input type="text">
                </div>
                <div>
                    <p>เพศ</p>
                    <input type="radio">เพศชาย
                    <input type="radio">เพศหญิง
                    <input type="radio">อื่น ๆ
                    <input type="text" id="otherText" placeholder="โปรดระบุ" style="display: none;">
                </div>
                <div>
                    <p>สัญชาติ</p>
                    <input type="text">
                </div>
                <div>
                    <p>เชื้อชาติ</p>
                    <input type="text">
                </div>
                <div>
                    <p>ศาสนา</p>
                    <input type="text">
                </div>
                <div>
                    <p>วันเกิด</p>
                    <input type="date">
                </div>
                <div>
                    <p>เลขบัตรประชาชน</p>
                    <input type="text">
                </div>
            </div>
        </div>
        <div>
            <h1>ข้อมูลติดต่อ</h1>
            <hr>
            <div>
                <div>
                    <div>
                        <p>ที่อยู่</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>หมู่ที่</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>ซอย</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>ถนน</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>แขวง/ตำบล</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>เขต/อำเภอ</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>จังหวัด</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>รหัสไปรณีย์</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>เบอร์โทรศัพท์</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Line-ID</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Email</p>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1>ข้อมูลลงทะเบียน</h1>
            <hr>
            <div>
                <div>
                    <p>Username</p>
                    <input type="text">
                </div>
                <div>
                    <p>Password</p>
                    <input type="password">
                </div>
                <div>
                    <p>Confirm Password</p>
                    <input type="password">
                </div>
            </div>
        </div>
        <div>
            <button>สร้างบัญชี</button>
        </div>
    </div>
</body>
</html>