<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/service.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>ติดต่อพนักงาน</h2>
        <form class="myform">
            <p>
                <label for="numroom">ห้อง</label>
                <input type="text" id="numroom" name="numroom" />
            </p>
            <p>
                <label for="cont">สิ่งที่ต้องการติดต่อ</label>
                <select id="cont" name="cont">
                    <option value="00" selected>กรุณาเลือก</option>
                    <option value="01">ไทย</option>
                    <option value="02">เวียดนาม</option>
                    <option value="03">ลาว</option>
                    <option value="04">มาเลเซีย</option>
                    <option value="05">สิงคโปร์</option>
                    <option value="06">ฟิลิปปินส์</option>
                    <option value="07">เมียนมา</option>
                    <option value="08">กัมพูชา</option>
                    <option value="09">บรูไน</option>
                </select>
            </p>
            <button id="btn" type="button" onclick="senddata()">ส่งข้อมูล</button>
        </form>
    </div>
</body>
</html>